# Default owner
* @tebrtkova-dotcom

# Platform configuration
/.github/ @tebrtkova-dotcom

# Application code
/src/ @tebrtkova-dotcom

# Tests
/test/ @tebrtkova-dotcom

# Deployment configuration
/deploy/ @tebrtkova-dotcom
