# Default owner
* @JonahhMJ 
* @RomainL14
* @Josi05

# Platform configuration
/.github/ @JonahhMJ @RomainL14 @Josi05

# Application code
/src/ @JonahhMJ @RomainL14 @Josi05

# Tests
/test/ @JonahhMJ @RomainL14 @Josi05

# Deployment configuration
/deploy/ @JonahhMJ @RomainL14 @Josi05
