# Default owner
* @Souhail-Izrhour

# Platform configuration
/.github/ @Souhail-Izrhour

# Application code
/src/ @Souhail-Izrhour

# Tests
/test/ @Souhail-Izrhour

# Deployment configuration
/deploy/ @Souhail-Izrhour